langchain==0.3.1
langchain-core==0.3.15
langchain_community==0.3.1
langgraph==0.2.48
langgraph-checkpoint==2.0.4
langgraph-checkpoint-sqlite==2.0.1
python-dotenv==1.0.1
langchain-anthropic==0.2.1
langchain-openai==0.2.1
langchain-ollama==0.2.0
playwright==1.47.0
libsass==0.23.0
openai==1.50.2
cohere==5.10.0
langchain-cohere==0.3.0
chromadb==0.4.21
todoist-api-python==2.1.7
termcolor==2.4.0
lxml==5.3.0
sounddevice==0.5.0
soundfile==0.12.1
keyboard==0.13.5
json5==0.9.25
pygments==2.18.0
rich==13.9.2
vue-lexer==0.0.4
requests==2.32.3
click==8.1.7
pytest==8.3.4
pytest-cov==6.0.0
pyright==1.1.390
ruff==0.8.2
httpx==0.27.2